<!DOCTYPE html>
    {{! This is the landing page of the website. }}
<html lang="en">
    <head>
        {{> components/common-head }}
        <link rel="stylesheet" href="/static/index.css">
        <script src="/static/index.js"></script>
    </head>
    <body>

        {{> components/header }}

        <div id="body-content">
            <div id="product-list">
                {{#each db_products}}
                <div class="product-card card secondary-background">
                    <div class="product-info">
                        <h5>{{this.name}}</h5>
                        <p>
                            {{this.description}}
                        </p>
                    </div>
                    <div>
                        <img src="{{this.image_uri}}" alt="{{this.name}}" class="product-image">
                    </div>
                </div>
                {{/each}}
            </div>
        </div>

        {{> components/footer }}

    </body>
</html>
