<header>
    <div>
        <a href="/" class="bold-link"><h2>LaptopPersonalizer</h2></a>
    </div>
    <div id="header-right">
        {{#if this.logged_in}}<a href="/admin" class="bold-link"><h3>admin</h3></a>{{/if}}
        <a href="/login" class="bold-link"><h3>login</h3></a>
    </div>
</header>
